
#menu {
  width: 550px;
  height: 35px;
  font-size: 16px;
  color: #31B2AB;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-align: center;
}
#menu ul {
  height: auto;
  padding: 8px 0px;
  margin: 0px;
}
#menu li {
  display: inline;
  padding: 20px;
}
#menu a {
  text-decoration: none;
  color: #00F;
  padding: 8px 8px 8px 8px;
}
#menu a:hover {
  color: #31B2AB;
  background-color: #FFF;
}
#log {
  width: 80px;
  height: 80px;
}
#abod {
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Nunito', sans-serif;
  color: #31B2AB;
}
#head {
 text-align: center;
 color: #31B2AB;
}
#tag {
  text-align: center;
}
#expl {
 text-align: center;
 color: #31B2AB;
 font-size:
}
#cre {
  text-align: center;
  color: #31B2AB ;
}
#responsive-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}
