a {
  text-decoration: none;
  color: #31B2AB;
}
a:hover {
  text-decoration: underline;
}
* {
  box-sizing: border-box;
  text-align: center;
}
h1 {
  margin: 0;
  border: 0;
  font-size: 4em;
}
body {
  padding: 20px;
  background-color: #D8EBF2;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}
p {
  padding-top: 50px;
}
#log {
  display: flex;
  flex-direction: right;
  justify-content: left;
  width: 80px;
  height: 80px;
  position: absolute;
}
#main_header {
  top: 0;
  color: #31B2AB;
  background-color: #f6f8f8;
  border: 0;
  margin: 0;
}
#menu {
  width: 550px;
  height: 35px;
  font-size: 16px;
  color: #31B2AB;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  padding-top: 90px;
  margin-left: 28%;
}
#menu ul {
  /*height: auto;*/
  /*padding: 8px 0px;
  margin: 0px;*/
}
#menu li {
  display: inline;
  padding: 20px;
}
#menu a {
  /*text-decoration: none;
  padding: 8px 8px 8px 8px;*/
}
#menu a:hover {
  color: #31B2AB;
  text-decoration: underline;
  background-color: #CEF0F2;
}
.container-text {
 color: #31B2AB;
}
#cre {
  color: #31B2AB ;
  padding-top: 60px;
}
#lef {
  height: 14em;
  width: 12em;
}
#mid {
  height: 14em;
  width: 12em;
}
#rig {
  height: 14em;
  width: 12em;
}
.flex {
  display: flex-box;
}
.responsive-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.eventful-badge {
  position: center      !important;
  width: 100px          !important;
  font-size: 11px       !important;
  line-height: 11px     !important;
  margin-left: 45% ;
  padding-top: 120px;
}


