
body {
  background-color: gray;
  padding:10px;
  padding-bottom:60px;
}
#main_header {
  top: 0;
}

#footer {
    position:static;
    bottom:0;
}

}
h6 {
  color: white;
}

header {
  text-align: center;
}
footer {
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 0px;
}
.events {
  /*background-color: black;*/
  width: 256px;
  height: 256px;
  margin: auto;
  background-size: 100% 100% ;
}
.eventful-small {
  position: relative    !important;
  width: 100px          !important;
  font-size: 11px       !important;
  line-height: 11px     !important;
  text-align: center;
}

