
a,
a label {
  cursor: pointer;
}
#log {
  display: flex;
  flex-direction: right;
  justify-content: left;
  width: 80px;
  height: 80px;
  position: absolute;
}
h1 {
  margin: 0;
  margin-left: 1.75em;
  border: 0;
  font-size: 4em;
}
/*article {
  padding: 0em 2em 2em 0em;
}*/

body {
  background-color: #D8EBF2;
  padding:10px;
  padding-bottom:60px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}
#main_header {
 display: flex;
 flex-direction: row;
 flex-wrap: no-wrap;
 justify-content: space-between;
  top: 0;
  color: #31B2AB;
  background-color: #f6f8f8;
}
#footer {
    position:static;
    bottom:0;
}
h6 {
  margin: 0;
  margin-bottom: 14em;
  color: white;
  font-size: 1em;
  text-align: center;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

header {
  text-align: center;
  margin-top: 0em;
}
body {
  margin: 0;
}
#menu {
  height: 35px;
  font-size: 16px;
  color: #31B2AB;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  padding-top: 90px;
  margin-right: 34.3%;

}
#menu ul {
  height: auto;
  padding: 8px 0px;
  margin: 0px;
}
#menu li {
  display: inline;
  padding: 20px;
}
#menu a {
  text-decoration: none;
  padding: 8px 8px 8px 8px;
}
#menu a:hover {
  color: #31B2AB;
  text-decoration: underline;
  background-color: #CEF0F2;
}
a {
  text-decoration: none;
  color:#31B2AB;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
}
.events {
  /*background-color: black;*/
  width: 16.7em;
  height: 16.7em;
  margin-top: 2em;
  background-size: 100% 100% ;
  box-shadow: 0px 0px 2px 2px #1B9D97;
  text-align: bottom;

}
.events:hover {

  box-shadow: 0px 0px 6px 6px #1B9D97;
  cursor: pointer;

}
.eventful-small {
  position: center      !important;
  width: 100px          !important;
  font-size: 11px       !important;
  line-height: 11px     !important;
  margin-left: 0 ;
  padding-top: 120px;
}
#moreShows{
  width: 220px;
  height: 50px;
  cursor: pointer;
  display: block;
  margin: 2em auto;
  background: #31B2AB no-repeat center center;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  border: 0;
  padding: 15px 20px;
  border-radius: 50px;
  outline: 0;
}
#about {
  color: #31B2AB     !important;
  float: right;
}
#formLink{
  color:#31B2AB;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#formLink:hover{
  text-decoration: underline;
}
#loginform {
  text-align: right;
  display: block;
}
#loggedIn {
width: 11.8em;
text-align: right;
display: inline-block;
/* height: 80%;
 width: 25%;
 right: 0;*/
}
#loggedOut {
 font-size: .7em;
 text-align: right;
 margin-right: .2em;
}
#logo {
  width: 80px;
  height: 80px;
}
#lowerFooter {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
}
#profile {
  font-size: .7em;
}

