
body {
  background-color: gray;
}
h6 {
  color: white;
}
header {
  text-align: center;
}
footer {
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 0px;
}
.events {
  /*background-color: black;*/
  width: 300px;
  height: 400px;
  margin: auto;
}
.eventful-small {
  position: relative    !important;
  width: 100px          !important;
  font-size: 11px       !important;
  line-height: 11px     !important;
  text-align: center;
}



