* {box-sizing: border-box;}

body {
  padding: 20px;
  background-color: #D8EBF2;
  font-family: 'Nunito', sans-serif;
}

header{
  text-align: center;
}
a {
  color: #31b2ab;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.top_elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 0px;

}
.top_elements:article {
  width: 300px;
  height: 300px;

}
#main_header {
  top: 0;
  color: #31B2AB;
  background-color: white;
  border: 0;
  margin: 0;
}
#artist{

  text-align: center;
}
#userImg img{
  width: 18.75em;
  height: 18.75em;
  border-radius: 100%;
}
 #userImg p {
  margin: 0 0 0 8em;
  width: 2.5em;
  height: 20px;
 }
