
* {box-sizing: border-box;}

body {
  padding: 20px;
  background-color: #D8EBF2;
  font-family: 'Nunito', sans-serif;
}

a {
  color: #31b2ab;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  margin: 0;
  border: 0;
  font-size: 4em;
}
header {
  text-align: center;
}
footer {
  text-align: center;
}
img {

}
.button {
  background-color: #FFF;
  position: relative;

  display: block;
  width: 75%;
  margin: 100px auto;
  padding: 20px 20px;

  border-radius: 50px;
  box-shadow: 0 5px 0 0 #e9edee, 0 5px 0 2px #ccd2d2, 0 12px 20px 6px #d5dbdb;

  text-align: center;
  color: #31B2AB;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;

  -webkit-tap-highlight-color: rgba(black, 0);

  &:active {
    top: 5px;

    box-shadow: 0 1px 0 2px #ccd2d2, 0 7px 20px 6px #d5dbdb;
  }
}
.events {
  /*background-color: black;*/
  width: 200px;
  height: 200px;
  margin: auto;
}

/*.events:first-child {
  width: 200px;
  height: 200px;
}*/

.events {
  /*background-color: black;*/
  width: 300px;
  height: 400px;
  margin: auto;
}
.eventful-small {
  position: relative    !important;
  width: 100px          !important;
  font-size: 11px       !important;
  line-height: 11px     !important;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 0px;
}
.top_elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 0px;

}

#main_header {
  top: 0;
  color: #31B2AB;
  background-color: white;
  border: 0;
  margin: 0;
}

#artist{

  text-align: center;
}
#artist_image {
  width: 25em;
  height: 18.75em;
}

#userImg img{
  width: 18.75em;
  height: 18.75em;
  border-radius: 100%;
}
 #userImg p {
  margin: 0 0 0 8em;
 }







